::webkit-scrollbar{display: none;}

html {background-color: black;}

body {margin: 0;}

section {width: 100vw;}

.section_1 {
	align-content: center;
	height: 100vh;
	border:	solid 2px red;

	img {
		position: absolute;
		z-index: -10;
		top: 25%;
		left: 1100px;
		width: cover;
		height: 500px;
		-webkit-mask-image: linear-gradient(to left, black 70%, transparent);
		mask-image: linear-gradient(to left, black 70%, transparent);*/
	}

	.container_1 {
		/*border: solid 5px yellow;*/
		display: flex;
		flex-direction: column;
		align-items: left;

		h1, h2{
			/*border: solid 2px red;*/
			margin: 0;
			position: relative;
		}

		.Name {
			left: 20%;
			width: 10em;
			height: 1em;

			color : #F5F5F5;
			font-family: Realtime Rounded Test;
			font-weight: lighter;
			font-size: 50px;
			letter-spacing: 5px;
		}

		.Role {
			left: 16%;
			width: 10em;
			color : #F5F5F5;
			font-family: IBM Plex Mono;
			font-weight: bold;
			font-size: 95px;
			letter-spacing: 2.5px;
		}

		.Hook {
			left: 30%;
			width: 30em;

			color : #F5F5F5;
			font-family: Realtime Rounded Test;
			font-weight: normal;
			font-size: 30px;
			letter-spacing: 1px;
		}
	}
}

.section_2 {
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;

	.container_2 {
		height: 100%;
		width: auto;
		position: center;
		display: grid;
		grid-template-columns: 16vw 16vw 16vw;
		grid-template-rows: 16vw 16vw;
		grid-template-areas: 
		"item_1 item_2 item_3"
		"item_4 item_5 item_6";
		grid-gap: 2.5vw;

		img {
			position: absolute;
			z-index: -5;
			border-radius: 1em;
			opacity:0;
			width: 100%;
			height: 100%;
		}

		.item_mainProjects, .item_SecondaryProjects{
			transform: translateX(0.001px);
			display: flex;
			flex-direction: column;
			border: solid 1px white;
			border-radius: 15px;

			.content {
				padding: 0px 9% 8% 9%;
				height: 100%;
				display: flex;
				flex-direction: column ;
				justify-content: end;

				button {
					margin: 7% 70% 0% 0;
					padding: 0.14em 0 0.22em 0;
					width: 30%;
					display: flex;
					justify-content: center;
					align-items: center;

					border-radius: 10px;
					border: solid 2px white;
					background-color: #F5F5F5;

					color : black;
					font-family: Realtime Rounded Test;
					font-weight: normal;
					font-size: 1.5em;
					letter-spacing: 0px;
				}
			}
		}

		.GameTitle {
			margin : 0;
			color : #F5F5F5;
			font-family: IBM Plex Mono;
			font-weight: bold;
			font-size: 37.5px;
			letter-spacing: 0px;
		}

		.GameInfo {
			margin : 0;
			color : #F5F5F5;
			font-family: Realtime Rounded Test;
			font-weight: normal;
			font-size: 22.5px;
			letter-spacing: 0px;
			line-height: 1.1em;
		}

		.item_SecondaryProjects {

			.GameInfo {font-size: 130%;}

			.content button{margin: 5% 70% 0% 0;}
		}
	}
}


.section_3 {
	margin: 7.5vh 0vh 7.5vh 0vh;
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;

	.VerticalBox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 53vw;

		.HorizontalBox_Top {
			h1 {
			margin : 0;
			color : white;
			font-family: IBM Plex Mono;
			font-weight: bold;
			font-size: 2vw;
			letter-spacing: 0px;
			}

			hr {
			margin : 20px 0 0 0;
			width: 4em;
			height: 4px;
			background-color: white ;
			border: none;
			}
		}

		.HorizontalBox_Mid {
			height: auto;

			p {
				margin : 0px 0px 0px 0px;
				color : white;
				font-family: IBM Plex Mono;
				font-weight: normal;
				font-size: 20px;
				letter-spacing: 0px;
				line-height: 1.1em;
			}
		}

		.HorizontalBox_Bot {

			.BottomHr {
			margin : 20px 0px 20px 0px;
			width: 100%;
			height: 4px;
			background-color: black ;
			border: none;
			}

			.HorizontalBox_Bot_1 {
			height: 50px;
			display: flex;
			flex-direction: row;
			justify-content: center;

				.Resume {
				margin: 0px;
				padding: 0px 0px 3px 0px;
				width: 15vw;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 1em;
				border: solid 3px white;
				background-color: black;
				color : white;
				font-family: Realtime Rounded Test;
				font-weight: normal;
				font-size: 1.5em;
				letter-spacing: 0px;
				}
			}
		}
	}
}

.section_4 {
	margin: 0vh 0vh 15vh 0vh;
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.container_4 {
		position: center;
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: auto;
		width: 53vw;

		.Socials {
			width: 7.5vw;
			height: 7.5vw;
			background-color: black;
			border: solid 3px white;
			border-radius: 3.75vw;
			transform: scaleY(0.75) scaleX(0.75);
		}

	}

}

.BottomPage {
	margin: 0vh 0vh 2vh 0vh;
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	p {
		margin : 0px 0px 0px 0px;
		color : white;
		font-family: IBM Plex Mono;
		font-weight: normal;
		font-size: 15px;
		letter-spacing: 0px;
		line-height: 1.1em;
	}
}